input/os/textcube_pmid2category.json
input/cvd/textcube_pmid2category.json
input/os_cvd/textcube_pmid2category.json
input/textcube_pmid2category.json
output/os/*embedding.csv
output/cvd/*embedding.csv
output/os_cvd/*embedding.csv
output/*embedding.csv
data/*.csv
data/*.json
data/*.tsv
data/os/*.tsv
data/cvd/*.tsv
scripts/old
scripts/*.ipynb
